.recipeCard {
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    background-color: #393e4694;
    margin: 20px auto;
    padding: 20px;
    font-family: Polysans, sans-serif;
}

.recipeName {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipeImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipeDetails {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeInstructions {
    padding: 0px;
    border-radius: 5px;
    color: #dddddd;
}

.recipeInstructions ol {
    margin-left: 0px;
}

.recipeInstructions li {
    margin: 10px 0;
}